{% extends '_base.html' %}

{% load crispy_forms_tags %}

{% block page_title %}log in page{% endblock page_title %}


{% block content %}

    <form class="mt-5" action="" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button class="btn btn-success mt-3" type="submit">login</button>
    </form> <br>

    <a class="mt-4" href="{% url 'password_reset' %}">forget your password?</a> <br>
    <a class="mt-3" href="{% url 'signup' %}">don't have any account?</a>

{% endblock content %}
