{% extends '_base.html' %}

{% load crispy_forms_tags %}

{% block page_title %}home page{% endblock page_title %}


{% block content %}

    <h2>Home page</h2>

    {% if user.is_authenticated %}
        welcome {{ user.username }}
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <input type="submit" value="logout">
        </form>
    {% else %}
        <a href="{% url 'login' %}">login</a> | <a href="{% url 'signup' %}">signup</a>
    {% endif %}

{% endblock content %}
