{% extends '_base.html' %}

{% load crispy_forms_tags %}

{% block page_title %}{{ book.title }}{% endblock page_title %}

{% block content %}

    <div class="container mt-5" dir="rtl">
        <div class="">
            <div class="">
                <div class="d-flex justify-content-center">
                    <div class="row w-sm-75 w-100">
                        <div class="col-xs-12 col-md-3 d-flex justify-content-center">
                            <div>
                                {% if book.covers %}
                                    <img src="{{ book.covers.url }}"
                                         class="img-fluid rounded-start shadow" alt="...">
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-6 text-center text-md-end mt-md-1 mt-4">
                            <h1>{{ book.title }}</h1>
                            <h5 class="small my-1 mt-4"><span class="text-muted">نویسنده : </span>{{ book.author }}</h5>
                            <h5 class="small my-1 mt-3"><span class="text-muted">ناشر : </span>{{ book.publisher }}</h5>
                            <h5 class="small my-1 mt-3"><span
                                    class="text-muted"> تاریخ ایجاد : </span>{{ book.datetime_created }}</h5>
                        </div>
                        <div class="col-xs-12 col-md-3 d-flex flex-column">
                            <h3 class="align-self-center pt-2 text-muted align-self-md-end">
                                {{ book.price }} $
                            </h3>
                        </div>
                        <div>
                            <a class="btn btn-warning mt-3" href="{% url 'book_update' book.id %}">Edit book</a>
                            <a class="btn btn-danger mt-3" href="{% url 'book_delete' book.id %}">Delete book</a>
                        </div>
                    </div>
                </div>

                <div class="d-flex justify-content-center">
                    <div class="my-3 p-5 w-sm-75 w-100">
                        {{ book.body|linebreaks }}
                    </div>
                </div>

                <div class="d-flex justify-content-center">
                    <div class="card shadow my-3 p-5 w-sm-75 w-100">
                        <h2 class="mb-5">نظرات:</h2>
                        {% for comment in comments %}
                            {% if comment.is_active %}
                                <div class="card shadow">
                                    <h5 class="mb-3 text-primary mt-3 my-3">نظر دهنده : {{ comment.user|capfirst }}</h5>
                                    <p class="text-muted">متن نظر : {{ comment.text|linebreaks }}</p>
                                    <p class="text-success">امتیاز کاربر بین 1 تا 3 : {{ comment.star }}</p>
                                    {% if comment.recommend %}
                                        <p class="text-danger">این کتاب را پیشنهاد می کنم</p>
                                    {% else %}
                                        <p class="text-danger">این کتاب را پیشنهاد نمی کنم</p>
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>

                <div class="d-flex justify-content-center">
                    <div class="card shadow my-3 p-5 w-sm-75 w-100">
                        <h3>نظر خود را وارد کنید:</h3>
                        <form method="POST">
                            {% csrf_token %}
                            {{ comment_form|crispy }}
                            <button type="submit" class="btn btn-primary mt-3">ارسال</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<a href="{% url 'book_list' %}">List of books</a> <br>
