{% extends '_base.html' %}

{% load crispy_forms_tags %}

{% block page_title %}books list{% endblock page_title %}


{% block content %}

    {% for book in books %}
        <a href="{{ book.get_absolute_url }}"><h2>{{ book.title }}</h2></a>
        <p>{{ book.body|truncatewords:50     }}</p>
        <h4>{{ book.author }}</h4>
        <p>{{ book.publisher }}</p>
        <b>{{ book.price }}</b>
        <p>-------------------------------------</p>
    {% endfor %}
    <br> <br>
    <a href="{% url 'book_create' %}">create new book</a>

{% endblock content %}
