{% extends '_base.html' %}

{% load crispy_forms_tags %}

{% block page_title %}{{ book.title }}{% endblock page_title %}


{% block content %}

    <h2>{{ book.title }}</h2>
    <p>{{ book.body|linebreaks }}</p>
    <h4>{{ book.author }}</h4>
    <p>{{ book.publisher }}</p>
    <h3>{{ book.datetime_created }}</h3>
    <b>{{ book.price }}</b>
    <br>
    <a href="{% url 'book_list' %}">List of books</a> <br>
    <a class="btn btn-warning mt-3" href="{% url 'book_update' book.id %}">Edit book</a>
    <a class="btn btn-danger mt-3" href="{% url 'book_delete' book.id %}">Delete book</a>

{% endblock content %}
